:root {
    --RestInPeace-50: #f0fdf2;
    --RestInPeace-100: #dbfde3;
    --RestInPeace-200: #baf8c8;
    --RestInPeace-300: #64ee85;
    --RestInPeace-400: #47e16c;
    --RestInPeace-500: #1ec948;
    --RestInPeace-600: #13a637;
    --RestInPeace-700: #12832e;
    --RestInPeace-800: #14672a;
    --RestInPeace-900: #135425;
    --RestInPeace-950: #042f11;
    --logo-background-color: #224454;
    --pearl: #FFFDFA;
    
    --primary: var(--RestInPeace-300);
    --header-background: var(--logo-background-color);
    --header-link-color: var(--pearl);
    --fsdocs-theme-toggle-light-color: var(--pearl);
    --menu-color: var(--pearl);
    --blockquote-bacground-color: var(--primary);
    --blockquote-color: var(--pearl);
    --menu-item-hover-background: var(--RestInPeace-200);
    --menu-item-hover-color: var(--logo-background-color);
    --on-this-page-color: var(--pearl);
    --heading-color: var(--RestInPeace-950);
    --page-menu-background-hover-border-color: var(--RestInPeace-300);
    --nav-item-active-border-color: var(--RestInPeace-300);
    --dialog-icon-color:  var(--RestInPeace-300);
    --dialog-link-color: var(--RestInPeace-300);
}

[data-theme=dark] {
    --link-color: var(--RestInPeace-200);
    --heading-color: var(--pearl);
}