source https://api.nuget.org/v3/index.json
	
storage: packages

nuget FSharp.Core >= 4.3
nuget FSharp.Data 3.1.1

group Test
	source https://api.nuget.org/v3/index.json

	nuget FsUnit
	nuget Microsoft.NET.Test.Sdk
	nuget NUnit
	nuget NUnit3TestAdapter
	nuget Suave

group Docu
	source https://api.nuget.org/v3/index.json

	nuget FSharp.Formatting
